* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-neutral-0: hsl(0, 0%, 0%);
  --clr-neutral-10: hsl(0, 0%, 10%);
  --clr-neutral-20: hsl(0, 0%, 20%);
  --clr-neutral-70: hsl(0, 0%, 70%);
  --clr-neutral-80: hsl(0, 0%, 80%);
  --clr-neutral-90: hsl(0, 0%, 90%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --size-25: 0.25rem;
  --size-50: 0.5rem;
  --size-75: 0.75rem;
  --size-100: 1rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
}

@font-face {
  font-family: Inter;
  src: url("./asset/fonts/Inter-variableFont.ttf");
  font-display: swap;
}

html {
  font-family: Inter, sans-serif;
}

p {
  line-height: 1.5;
}

body {
  background-color: var(--clr-neutral-80);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  border: 1px solid var(--clr-neutral-80);
  padding: var(--size-50) var(--size-100);
  border-radius: var(--size-50);
  min-width: 75ch;
}

.btn,
button {
  background-color: var(--clr-neutral-10);
  border: none;
  border-radius: var(--size-50);
  color: var(--clr-neutral-100);
  padding: var(--size-50) var(--size-50);
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover,
button:hover {
  background-color: var(--clr-light-80);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon-sm {
  width: var(--size-75);
}

.icon-md {
  width: var(--size-500);
}

.txt-sm {
  font-size: var(--size-75);
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

#root {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--size-100);

  display: flex;
  flex-direction: column;
  gap: var(--size-100);

  background-image: url("./asset/images/rainy-day.png");
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
  justify-content: center;
  padding: center;
  padding: var(--size-100);
  gap: var(--size-100);
}

#content {
  .general {
    display: flex;
    gap: var(--size-100);
    background-color: var(--clr-neutral-90);
    border-radius: var(--size-50);
    padding: var(--size-100);

    & > * {
      flex: 1;
    }

    .basic-info {
      display: flex;
      flex-direction: column;
      gap: var(--size-50);

      & .location-cont {
        display: flex;
        gap: var(--size-50);
        align-items: center;
        background-color: var(--clr-neutral-20);
        color: var(--clr-neutral-100);
        padding: var(--size-50) var(--size-100);
        border-radius: var(--size-300);
        align-self: start;
        font-size: var(--size-75);
        font-weight: bold;
        letter-spacing: 1px;
      }

      & .conditions-cont {
        display: flex;
        flex-direction: column;
        gap: var(--size-75);

        & .weather-heading-cont {
          display: flex;
          gap: var(--size-100);
          align-items: center;
        }
      }
    }

    & .statistics {
      display: grid;
      align-items: center;

      & table {
        border-collapse: collapse;
        text-align: center;
        width: 100%;

        & tr {
          border-bottom: 1px solid var(--clr-neutral-70);
          line-height: 3;
        }

        & tr:last-child {
          border-bottom-color: transparent;
        }

        & td {
          display: flex;
          align-items: center;
          gap: var(--size-100);
        }
      }
    }
  }
}

#loading-screen {
  display: grid;
  place-content: center;
  & div {
    border: 1rem solid var(--clr-neutral-90);
    border-bottom-color: transparent;
    border-radius: 50%;
    height: 100%;
    width: var(--size-500);
    height: var(--size-500);
    animation: rotate linear 1000ms infinite;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
