* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Inter;
  src: url("./asset/fonts/Inter-variableFont.ttf");
  font-display: swap;
}

:root {
  --clr-light-100: hsl(0, 0%, 100%);
  --clr-light-95: hsl(0, 0%, 95%);
  --clr-light-90: hsl(0, 0%, 90%);
  --clr-light-80: hsl(0, 0%, 80%);
  --clr-light-70: hsl(0, 0%, 70%);

  --clr-dark-0: hsl(0, 0%, 0%);
  --clr-dark-10: hsl(0, 0%, 10%);
  --clr-dark-20: hsl(0, 0%, 20%);
  --clr-dark-30: hsl(0, 0%, 30%);

  --clr-cool-40: hsl(176, 69%, 40%);
  --clr-cool-50: hsl(176, 69%, 50%);
  --clr-cool-60: hsl(176, 69%, 60%);

  --clr-hot-40: hsl(32, 100%, 40%);
  --clr-hot-50: hsl(32, 100%, 50%);
  --clr-hot-60: hsl(32, 100%, 60%);

  --clr-warm: hsl(125, 38%, 40%);
  --clr-warm: hsl(125, 38%, 50%);
  --clr-warm: hsl(125, 38%, 60%);

  --sz-0-25: 0.25rem;
  --sz-0-50: 0.5rem;
  --sz-0-75: 0.75rem;
  --sz-1: 1rem;
  --sz-1-25: 1.25rem;
  --sz-1-50: 1.5rem;
  --sz-1-70: 1.75rem;
  --sz-2: 2rem;
  --sz-2-25: 2rem;
  --sz-2-50: 2.5rem;
  --sz-2-75: 2.75rem;
  --sz-3: 3rem;
  --sz-3-25: 3.25rem;
  --sz-3-50: 3.5rem;
  --sz-3-75: 3.75rem;
  --sz-4: 4rem;
  --sz-4-25: 4.25rem;
  --sz-4-50: 4.5rem;
  --sz-4-75: 4.75rem;
  --sz-5: 5rem;

  --p-input: var(--sz-0-75) var(--sz-1);

  --gap-1: var(--sz-1);

  --b-rad-small: var(--sz-0-25);
  --b-rad-medium: var(--sz-0-50);
  --b-rad-large: var(--sz-1);
}

html {
  font-family: Inter, sans-serif;
}

p {
  line-height: 1.5;
}

body {
  background-color: var(--clr-light-80);
}

.wrapper {
  margin: var(--sz-3) auto;
  height: min(800px, 90vh);
  padding: var(--sz-4);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  border: 1px solid var(--clr-light-70);
  padding: var(--p-input);
  border-radius: var(--sz-0-50);
  min-width: 75ch;
}

.btn,
button {
  background-color: var(--clr-light-90);
  border: none;
  padding: var(--p-input);
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: var(--sz-0-50);
  box-shadow:
    0px 2px 3px var(--clr-dark-30),
    inset 0px 1px 1px var(--clr-light-100);
  cursor: pointer;
}

.btn:hover,
button:hover {
  background-color: var(--clr-light-80);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon-small {
  width: var(--sz-1);

  & > svg {
    width: var(--sz-1);
  }
}

.icon-medium {
  width: var(--sz-2-50);
  & > svg {
    width: var(--sz-2-50);
  }
}

.icon-large {
  width: var(--sz-4);
  & > svg {
    width: var(--sz-4);
  }
}

.icon-x-large {
  width: var(--sz-5);
  & > svg {
    width: var(--sz-5);
  }
}

main {
  max-width: 1024px;
  margin: var(--sz-4) auto;
  padding: var(--sz-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sz-2);

  & general-details {
    width: 100%;

    & > .heading {
      display: flex;
      gap: var(--sz-1);

      & > * {
        flex: 1;
      }

      & > .basic-details {
        display: flex;
        flex-direction: column;
        gap: var(--sz-0-50);
        background-color: var(--clr-light-90);
        padding: var(--sz-1);
        border-radius: var(--b-rad-medium);

        & .location-container {
          display: flex;
          gap: var(--sz-0-50);
          background-color: var(--clr-light-100);
          padding: var(--sz-0-50) var(--sz-1);
          width: fit-content;
          border-radius: var(--b-rad-medium);
          color: var(--clr-dark-10);
        }

        & .condition-container {
          display: flex;
          gap: var(--sz-0-50);
        }

        & #description {
          color: var(--clr-dark-30);
        }
      }

      & > .sunrise-sunset-details {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
}
