* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-light-100: hsl(0, 0%, 100%);
  --clr-light-90: hsl(0, 0%, 90%);
  --clr-light-80: hsl(0, 0%, 80%);
  --clr-light-70: hsl(0, 0%, 70%);

  --clr-dark-0: hsl(0, 0%, 0%);
  --clr-dark-10: hsl(0, 0%, 10%);
  --clr-dark-20: hsl(0, 0%, 20%);
  --clr-dark-30: hsl(0, 0%, 30%);

  --clr-cool-40: hsl(176, 69%, 40%);
  --clr-cool-50: hsl(176, 69%, 50%);
  --clr-cool-60: hsl(176, 69%, 60%);

  --clr-hot-40: hsl(32, 100%, 40%);
  --clr-hot-50: hsl(32, 100%, 50%);
  --clr-hot-60: hsl(32, 100%, 60%);

  --clr-warm: hsl(125, 38%, 40%);
  --clr-warm: hsl(125, 38%, 50%);
  --clr-warm: hsl(125, 38%, 60%);

  --sz-0-25: 0.25rem;
  --sz-0-50: 0.5rem;
  --sz-0-75: 0.75rem;
  --sz-1: 1rem;
  --sz-1-25: 1.25rem;
  --sz-1-50: 1.5rem;
  --sz-1-70: 1.75rem;
  --sz-2: 2rem;
  --sz-2-25: 2rem;
  --sz-2-50: 2.5rem;
  --sz-2-75: 2.75rem;
  --sz-3: 3rem;
  --sz-3-25: 3.25rem;
  --sz-3-50: 3.5rem;
  --sz-3-75: 3.75rem;
  --sz-4: 4rem;
  --sz-4-25: 4.25rem;
  --sz-4-50: 4.5rem;
  --sz-4-75: 4.75rem;
  --sz-5: 5rem;

  --p-input: var(--sz-0-75) var(--sz-1);

  --gap-1: var(--sz-1);
}

p {
  line-height: 1.5;
}

body {
  background-color: var(--clr-light-80);
}

.wrapper {
  max-width: 1440px;
  margin: var(--sz-3) auto;
  height: 90vh;
}

input {
  border: 1px solid var(--clr-light-70);
  padding: var(--p-input);
  border-radius: var(--sz-0-50);
  min-width: 75ch;
}

.btn,
button {
  background-color: var(--clr-light-90);
  border: none;
  padding: var(--p-input);
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: var(--sz-0-50);
  box-shadow:
    0px 2px 3px var(--clr-dark-30),
    inset 0px 1px 1px var(--clr-light-100);
  cursor: pointer;
}

.btn:hover,
button:hover {
  background-color: var(--clr-light-80);
}

button.icon {
  background-color: transparent;
  box-shadow: unset;
  & > svg {
    width: var(--sz-1);
    fill: var(--clr-dark-20);
  }
}

.container {
  background-color: var(--clr-light-100);
  border-radius: var(--sz-0-50);
  box-shadow: 0px 1px 1px var(--clr-light-70);
  padding: var(--sz-1);
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  gap: var(--gap-1);

  & > .nav-bar {
    grid-area: 1 / 5 / 3 / -1;
    display: grid;
    place-content: center;

    & .search-input-cont {
      display: flex;
      gap: var(--gap-1);

      & input {
        text-align: center;
        border-color: var(--clr-light-90);
      }

      & button {
        transform: translateY(-2px);
      }
    }
  }

  & > .details {
    grid-area: 1 / 1 / 7 / 5;
  }

  & > .temps {
    grid-area: 3 / 5 / 7 / 9;
  }

  & > .sunset-sunrise {
    grid-area: 3 / 9 / 7 / -1;
  }
  & > .forecast {
    grid-area: 7 / 1 / -1 / -1;

    & > nav {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
